*{
    box-sizing: border-box;   /*controla el tamaño total de la pagina*/
}
body{
    margin: auto;
    background-color: rgb(245,245,245);
}


/*Menu*/
.Menu{
    background-color: rgb(245,245,245);
}

.MenuHamburguesa{
    display: none; /* Se oculta por defecto en pantallas grandes */
    background: none;
    border: none;
    font-size: 1.5em; /* Un buen tamaño para el ícono */
    cursor: pointer;
    padding: 10px; /* Añade espacio alrededor del ícono */
    color: black; /* Color del ícono */
    align-self: center; /* Centra el botón verticalmente en el header */
}

.ContenidoMenu{
    display: flex; /*hace que el contenedor sea flexible*/
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
/*Logo menu*/
.LogoTienda{
    display: flex;
}
.Menu .Logo{
    margin:0;
    max-width: 80px;
    height: auto;
    display: flex;
}

.NombreTienda{
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}

/*Links*/
.Links{
    padding: 15px;
    text-decoration: none;
    color: black
}

.Links:hover{
    border-bottom: 1px solid;
}

.Carrito button{
    background-color: rgb(245,245,245);
    font-size: 1.5em;
    border: none;
    display: flex;
    align-items:flex-end;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
}



/*Primer div*/
.Contenido1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 88vh;
    background-image:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url("Ropa/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Titulo1{
    font-size: 3.5em;
    color: white;
    top: 0;
}

.Descripcion1{
    font-size: 1.25em;
    color:white;
}

.primerBoton{
    font-size: 1.8em;  /*Ajusta el tamaño el font-size*/
    font-weight: bold; /*Pone las letras en negrita*/
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
}

.primerBoton a{
    text-decoration: none;
    color: black;
}


.primerBoton:hover{
    background-color: rgb(248, 253, 252);
}



/*segundo div*/
.MuestraRopa{
    background-color: rgb(245,245,245);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.Titulo2{
    font-size: 3.5em;

}

.MuestraRopa img{
    padding: 20px;
    padding-top: 60px;
    max-width: 300px;
    max-height: auto;
}

.MuestraRopa p{
    text-align: center;
}

.MuestraRopa div{
    text-align: center;
    align-items: center;
}

.MuestraRopa button{
    font-size: 1.1em;
    border-style: none;
    background-color: rgb(245,245,245);
    border-bottom: 1px solid transparent;
}

.MuestraRopa button a{
    text-decoration: none;
    color: black;
}

.MuestraRopa button:hover{
    border-bottom: 1px solid;
    cursor: pointer;
}

@media (max-width: 1506px){
    .MuestraRopa{
        flex-direction: column;
    }
}

@media (max-width: 877px){
    /*Menu*/
    .MenuNavegacion{
        display:flex;
        flex-direction: column;
        width: 40%;
        position: absolute;
        top:80px;
        left: 58%;
        background-color: rgb(245,245,245);
        height: 0;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: height 0.5s ease-in-out;   /*Animacion*/
    }

    .MenuNavegacion.show{
        height: 250px;
    }

    .MenuNavegacion .Links{
        padding: 10px;
        text-align: right;
        width: 100%;
        border-bottom: 1px solid rgb(215, 215, 215);
    }

    .MenuNavegacion .Links:last-child{
        border-bottom: none;
    }

    .MenuHamburguesa{
        display:block;
        font-size: 1.5em;
        border: none;
        background: none;
        cursor: pointer;
    }

    .Links {
        border-bottom: 1px solid transparent;
        padding: 20px;
        width: 80%;
        text-align: center;
    }
    .Links:hover{
        background-color: rgb(235,235,235);
    }

    /*Separa el contenido para que ocupe todo el espacio y se vea mas ordenado*/
    .ContenidoMenu{
        justify-content: space-between;
    }
}